<div id="div">    
  <div id="d1" class="well well-lg">
  <h1>MY DETAILS</h1>
  <app-my-details></app-my-details>
  </div>
  <div id="d2" class="well well-lg">
  <h1>MANAGER DETAILS</h1>
  <div *ngIf="empId != 1000"><app-manager-details></app-manager-details></div>
  <div *ngIf="empId == 1000"><h1>You dont have any Manager</h1></div>
  </div>
  <div>
<div id="d3" class="well well">
  <h1>MY LEAVE APPLICATIONS</h1>
  <div *ngIf="!showElement">
    <app-myleave></app-myleave>
  </div>
  <div *ngIf="showElement">
    <app-applyleave></app-applyleave>
  </div>
</div>

<div id="d4" class="well well-lg">
  <h1>LIST PENDING</h1>
  <div *ngIf="!showElements">
  <app-listpending></app-listpending>
  </div>
  <div *ngIf="showElements">
    <app-approve-deny></app-approve-deny>
  </div>
</div>
</div>
</div>

