<h1>My Details Section</h1>
<div style="text-align:center">
    
    </div>
    <div>
    <Table>
    <tr>
    <td>Employee ID</td> 
    <td>:</td>
    <td>{{employee.empId}} </td>
    </tr>
    <tr>
        <td> Department</td>
        <td>:</td>
        <td>{{employee.empDptName}} </td>
    </tr>
    <tr>
    <td>Name</td>
    <td>:</td> 
    <td>{{employee.empName}} </td> 
    </tr>
    <tr>
    <td>Email</td>
    <td>:</td>
    <td> {{employee.empEmail}}</td>
    </tr>
    <tr>
    <td>Phone Number</td>
    <td>:</td>
    <td> {{employee.empMobNo}}</td>
    </tr>
    <tr>
    <td>Available Leave Balance</td>
    <td>:</td>
    <td>{{employee.empLeaveBalance}} </td>
    </tr>
    
    </Table>
    </div>