.d1{
    background-color: #404d59;
    color:#f0f2f4;
    padding:15px;
    text-align:center;
}

.d2 {
    background-color: #404d59;
    color:#f0f2f4;
    padding:5px;
    text-align:center;
    bottom:0px;
}

#mid{
    margin-top:10px;
    margin-bottom:10px;
}