<div>
  
      <h1>
  
        <b>Approve Deny Leave</b>
  
      </h1>
  
    </div>
  
    <div>
  
    <table>
  
    <tr>
  
    <td>Employee ID:</td>
  
    <td>{{employee.empId}}</td>
  
    <td> Start Date :</td>
  
    <td>{{leaveDetail.leaStartDate}}</td>
  
   
  
    </tr>
  
   
  
    <tr>
  
    <td>Employee Name:  </td>
  
    <td>{{employee.empName}}</td>
  
    <td> End Date : </td>
  
    <td>{{leaveDetail.leaEndDate}}</td>
  
   
  
    </tr>
  
   
  
    <tr>
  
    <td> Leave Balance:</td>
  
    <td>{{employee.empLeaveBalance}}</td>
  
    <td> Number of Days:</td>
  
    <td>{{leaveDetail.leaNoOfDays}}</td>
  
    </tr>
  
   
  
   
  
    <tr>
  
    <td></td>
  
    <td></td>
  
   
  
    <td> Leave Type:</td> <td>EL</td>
  
    </tr>
  
   
  
   
  
    <tr>
  
    <td></td>
  
    <td></td>
  
    <td> Reason: </td>
  
    <td>{{leaveDetail.leaReason}}</td>
  
    </tr>
  
    <tr>
  
    <td>Comments</td>
  
    <td><textarea rows="3" cols="50" [(ngModel)]="leaveDetail.leaMgrComments">
  
    </textarea></td>
  
   
  
   
  
    </tr>
  
   
  
    <tr colspan=3>
  
    <td><input type ="Button" Value="Approve"(click)="doApprove()"></td>
  
    <td><input type ="Button" Value="Deny"(click)="doDeny()"></td>
  
    <td><input type ="Button" Value="Cancel" (click)="doCancel()"></td>
  
    </tr>
  
   
  
   
  
    </table>
  
    <div>
  
      {{message}}
  
    </div>
  
  </div>