input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
body {
    margin:50px 0px; padding:0px;
    text-align:center;
}
button {
    background-color: #0BA9EE;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
button:hover {
    opacity: 0.8;
    border-radius: 10%;
}

container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

#d1{
   width:50%;
   margin:auto;
}

#btn{
    margin-left:-230px;
}