<div style="text-align:center">
  <h1>
    Welcome to {{title}}!
  </h1>
</div>
<div>
    <table border="1" class="well well-lg" id="d1">
        <thead>
            <tr>
                <th>Employee ID</th>
                <th>Employee Name</th>
                <th>Email</th>
                <th>Phone Number</th>
                <th>Manager ID</th>
                <th>User Login</th>
            </tr>
        </thead>
        <tbody class="employees">
            <tr *ngFor="let employee of employees">
                <td>
                    <h5>{{employee.empId}}</h5>
                </td>
                <td>
                    <h5>{{employee.empName}}</h5>
                </td>
                <td>
                    <h5>{{employee.empEmail}}</h5>
                </td>
                <td>
                    <h5>{{employee.empMobNo}}</h5>
                </td>
                <td>
                    <h5>{{employee.empMgrId}}</h5>
                </td>
                <td>
                  <input type = "button" value="Login"(click)= "login(employee.empId)" >
                </td>                
            </tr>
        </tbody>
    </table>
</div>